<p class="menu-label">Human Resources</p>
<ul class="menu-list">
    <li>
        <NavLink class="nav-link" href="employees" ActiveClass="is-active">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Employees
        </NavLink>
        <ul>
            <li><a>Members</a></li>
            <li><a>Plugins</a></li>
            <li><a>Add a member</a></li>
        </ul>
    </li>
</ul>