@inherits LayoutComponentBase

<div class="columns">
    <div class="column is-one-fifth">
        <NavMenu/>
    </div>

    <main class="column">
        <article class="container">
            @Body
        </article>
    </main>
</div>