<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">University</a>
    </div>
</div>

<nav class="menu pl-2">
    <p class="menu-label">General</p>
    <ul class="menu-list">
        <li>
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" ActiveClass="is-active">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </li>
    </ul>

    <HumanResources/>
</nav>